- var button_link = "https://docs.google.com/forms/d/e/1FAIpQLSfNt5xbHpaPAQ7ouDzD9Nlz79UrlHZfWY1YLEY4fA6cNmfRfA/viewform"

.additional-text
    h2 Mine Fluence. Run a node.
    p Anybody can run a Fluence network node and get rewarded with tokens not only for data storage,<br/> but also for providing other useful work for the network.

    .additional-text-button
        a.button.button-accent(href=button_link) Join the network

.additional-image
    include ../../img/additional.inline.svg
