- var button_link = "#link"

.additional-text
    h2 Mine Fluence. Run a node.
    p To secure the network, anybody will be able to run a node and get rewarded by tokens for data storage.

    .additional-text-button
        a.button.button-accent(href=button_link) Join the network

.additional-image
    include ../../img/additional.inline.svg