- var button_link = "https://docs.google.com/forms/d/e/1FAIpQLSfNt5xbHpaPAQ7ouDzD9Nlz79UrlHZfWY1YLEY4fA6cNmfRfA/viewform"

.additional-text
    h2 Mine Fluence. Run a node.
    p Anybody can run a Fluence network node<br/>and earn tokens not only for data storage, <br/>but also for verifying transactions<br/> and securing the network.

    .additional-text-button
        a.button.button-accent(href=button_link) Join the network

.additional-image
    include ../../img/additional.inline.svg
