- var header_link_twitter  = "https://twitter.com/@FluenceAI"
- var header_link_telegram = "https://t.me/FluenceAI"
- var header_link_btc      = "https://bitcointalk.org/index.php?topic=2744525"
- var header_link_github   = "https://github.com/FluenceLabs"

.header-main
    h1 Build&nbsp;new
        span  applications&#8209;for the Web 3.0
    p Fluence is a network of independent nodes that provide a decentralized encrypted database service. You can use it to safely store private, medical, or any other type of structured data.

.header-buttons
    a.button(href="https://github.com/FluenceLabs") Try out a demo

    ul
        li: a(href=header_link_twitter)
            include ../../img/social-tw.inline.svg

        li: a(href=header_link_telegram)
            include ../../img/social-tg.inline.svg

        li: a(href=header_link_btc)
            include ../../img/social-btc.inline.svg

        li: a(href=header_link_github)
            include ../../img/social-gh.inline.svg
