- var link = "https://github.com/fluencelabs/research/blob/master/FluencePaper.pdf"

h2 How Fluence solves these issues? 

.images-desktop-image
    include ../../img/big-image-all.svg

ul
    li
        .image.image-left
            include ../../img/big_image-1.inline.svg

        p  Your data is encrypted and split into several replicas stored on independent nodes.
    li
        .image.image-center
            include ../../img/big_image-2.inline.svg

        p Fluence protocol ensures the network is always online and you can access your data anytime.
    li
        .image.image-right
            include ../../img/big_image-3.inline.svg

        p The nodes are independent and spread over the world. Only you can access your data.

.images-bottom
    a.button.button-accent(href=link) Discover the whitepaper
