- var link = "#whitepaper"

h2 How Fluence helps with this shit

.images-desktop-image
    include ../../img/big-image-all.svg

ul
    li
        .image.image-left
            include ../../img/big_image-1.inline.svg

        p Each data piece is encrypted on a client and spread through the network
    li
        .image.image-center
            include ../../img/big_image-2.inline.svg

        p Nodes keep data while somebody pays for it and guarantee that data is there
    li
        .image.image-right
            include ../../img/big_image-3.inline.svg

        p When client requests for a data, network routes to a particular node and gives the data back

.images-bottom
    a.button.button-accent(href=link) Read the whitepaper