mixin person(icon, name, status)
    .person
        .person-image: img(src="../img/" + icon)

        p.person-name #{name}
        p.person-status #{status}

        .person-text
            block


h2 Fluence Labs: mission and origins
p Fluence Labs was created to build a decentralized network technology.<br/>We believe that decentralized data storage is a crucial part<br/> of the tomorrow's web and will benefit the humanity by providing<br/> a new level of privacy, control, and security. Behind this project<br/> and vision is a dedicated group of people with experience and a dream.



.persons-list
    +person(
        'e_ponomarev.jpg',
        'Evgeny Ponomarev',
        'CEO'
    )
        p Entrepreneur and product manager. Worked on product<br/> at
            a(href="https://2gis.ru/")  2GIS
            |  (20M monthly audience). In charge of the project management track at
            a(href="https://2018.codefest.ru/speakers/en/")  CodeFest
            |  developers conference (1500+ attendees / year). Mined first Bitcoin in 2011 on CPU.

        p
            a(href="https://www.linkedin.com/in/evgeny-ponomarev-4ab3672a/") LinkedIn

    +person(
        'alari.jpg',
        'Dmitry Kurinskiy',
        'CTO'
    )
        p Software engineer and technical leader, with solid expertise<br/> in complex engineering projects since 2004. Keen functional programming advocate. Prior to Fluence he was a CTO / lead engineer at a bunch of technology startups.

        p
            a(href="https://www.linkedin.com/in/dmitrykurinskiy/") LinkedIn
            a(href="https://github.com/alari")  Github
    
    +person(
        'a_demidko.jpg',
        'Alexander Demidko',
        'Chief Research Officer'
    )
        p Experienced distributed systems engineer with deep understanding of computer science and game theory. At 
            a(href="https://metamarkets.com/")  Metamarkets
            |  he built a petabyte scale analytics platform capable of processing hundreds of billions events/day. At 
            a(href="https://www.stitchfix.com")  Stitch Fix,
            |  he worked on building the ML infrastructure.

        p
            a(href="https://www.linkedin.com/in/alexanderdemidko/") LinkedIn
            a(href="https://github.com/xdralex")  Github

.persons-list
    +person(
        'rico.jpg',
        'Constantine Solovev',
        'Development'
    )
        p Software engineer proficient<br/> in distributed systems<br/>and big data processing.<br/>Developed a high load data exchange platform for RTB advertising at CleverDATA.

        p
            a(href="https://www.linkedin.com/in/constantine-solovev-6268ba99/") LinkedIn
            a(href="https://github.com/RicoGit")  GitHub

    +person(
        'dmitri.jpg',
        'Dmitry Shakhtarin',
        'Development'
    )
        p Software engineer with strong expertise<br/>in cryptography, functional Scala programming<br/> and backend development. Previously he worked<br/>on building the end-to-end encrypted and completely anonymous messaging platform titanium.im.

        p
           a(href="https://www.linkedin.com/in/dmitriy-shakhtarin-645b0b72/") LinkedIn
           a(href="https://github.com/DieMyst")  GitHub
    
    +person(
        'sergeev.png',
        'Dmitry Sergeev',
        'Research'
    )
        p Backend software engineer. Built a heavily loaded game server engine<br/>for the Tanki Online game.<br/>Led big data processing team<br/>at AlternativaPlatform.<br/>Strong expertise in algorithms<br/>and competitive programming, ACM contest finalist.

        p
            a(href="https://www.linkedin.com/in/dmitry-sergeev-09b3244a/") LinkedIn
            a(href="https://github.com/DmiSergeev")  GitHub
        
    +person(
        'voronov.png',
        'Mikhail Voronov',
        'Development'
    )
        p Reverse engineer and system programmer<br>with a strong knowledge of OS internals and process virtual machines architecture.<br>Ex-captain of the CTF (cyber security contests) team,<br>computer security PhD candidate (exploit detection),<br>interested in finding public products vulnerabilities (owns few CVEs).

        p
            a(href="https://github.com/michailvoronov") GitHub
            
    +person(
        'folex.jpg',
        'Alexey Pyshenko',
        'Development'
    )
        p Seasoned distributed systems engineer<br>with a deep functional languages knowledge. Previously longtime key developer of the messenger platform
            a(href="https://oktos.io") oktos.io,
            | where he implemented end-to-end encrypted<br>communication and key management protocols;<br>integrated Bitcoin and Ethereum wallets functionality.

        p
            a(href="https://www.github.com/folex") GitHub
    
    +person(
        'a_rtemiy.jpg',
        'Artemiy Liarskiy',
        'Dev Relations'
    )
        p Digital marketing specialist<br/>with projects for major brands<br/>and rewarded agencies.<br/> Background in B2B sales, marketing, and copywriting.

        p
            a(href="https://github.com/folex") LinkedIn
     
    +person(
        'a_leka.jpg',
        'Anna Lekanova',
        'Community Building'
    )
        p Anna has a background in marketing<br/>and business development<br/>in the field of Technology Entrepreneurship.<br/>Working on her MBA,<br/>she has been collaborating with startups<br/>as well as with major brands.

        p
            a(href="https://www.linkedin.com/in/lekanova/") LinkedIn
            
h2 Advisors
.persons-list
    +person(
        'nhan.jpg',
        'Nhan Phan',
        'Snapchat'
    )
        p Engineering manager at Analytics division at 
            a(href="https://www.snapchat.com")  Snapchat.
            |  Previously he was a VP of Engineering at 
            a(href="https://metamarkets.com/") Metamarkets,
            |  where he managed a distributed team of engineers building<br/> a highly scalable and reliable analytics platform. Before Metamarkets, he was a VPE<br/> at iSocket, which was acquired by Rubicon Project in 2014.
        
        p
            a(href="https://www.linkedin.com/in/nhan-phan-a20a348/") LinkedIn

    +person(
        'gordon.jpeg',
        'Gordon Hall',
        'Orc Network, Storj'
    )
        p The Bookchin. Distributed systems hacker<br/>and free software activist.<br/>He is the author of the core libraries that drive Storj,<br/>ORC, as well as their underlying implementation<br/>of the Kademlia distributed hash table.
        
        p
            a(href="https://github.com/bookchin") GitHub
            
    +person(
        'lasse.jpg',
        'Lasse Clausen',
        '1kx capital'
    )
        p Token angel investor at 1kx<br/>focusing on token launches<br/>and token economics.<br/>Advisor at: Dock.io, Request Network, Apex, FundRequest.
        
        p
            a(href="https://www.linkedin.com/in/lasseclausen/") LinkedIn
     
    +person(
        'christopher.jpg',
        'Christopher Heymann',
        '1kx capital'
    )
        p Token angel investor at 1kx<br/>focusing on technology<br/>and token economics.<br/>Advisor at: Dock.io, Request Network, Apex, FundRequest.
        
        p
            a(href="https://www.linkedin.com/in/christopher-heymann/") LinkedIn
    
    +person(
        'lelikov.jpg',
        'Andrey Lelikov',
        'Microsoft'
    )
        p Security engineer.<br/>At Microsoft he was focused<br/>on software obfuscation, cryptography, anti-hacking<br/>and robustness technologies.
        
        p
            a(href="https://www.linkedin.com/in/andrey-lelikov-b0b263/") LinkedIn  
   
    +person(
        'howardwu.jpg',
        'Howard Wu',
        'Dekrypt Capital'
    )
        p Co-founder at Dekrypt Capital.<br/> Left Google for crypto.<br> Doing research at Berkeley Blockchain research division.
        
        p
            a(href="https://www.linkedin.com/in/howardwu125") LinkedIn        
    
    +person(
        'simon.jpg',
        'Simon Kozlov',
        'Instrumental Inc'
    )
        p Machine Learning and AI expert with a track record of building<br>teams and technology at Silicon Valley startups and larger companies.<br>Previously director of engineering at Roblox (currently valued at $2.4B)<br>and engineer at Microsoft and Dropbox.<br>Teaches Deep Learning in NSU,<br>Russia's top 5 science and engineering school.
        
        p
            a(href="https://www.linkedin.com/in/sim0nsays/") LinkedIn   
      
