mixin person(icon, name, status)
    .person
        .person-image: img(src="../img/" + icon)

        p.person-name #{name}
        p.person-status #{status}

        .person-text
            block


h2 Fluence Labs: mission and origins
p Fluence Labs was created to develop a decentralized network technology that capable of doing what cloud providers couldn't. We believe that decentralized data storage is a crucial part of the tomorrow's web and will benefit the  humanity by providing a new level of privacy, control, and security.<br/>Behind this project and vision is a dedicated group of people with experience and a dream.



.persons-list
    +person(
        'e_ponomarev.jpg',
        'Evgeny Ponomarev',
        'CEO'
    )
        p Entrepreneur and product manager. Worked on product at
            a(href="#")  2GIS
            |  (20M monthly audience). In charge of the project management track at
            a(href="#")  CodeFest
            |  developers conference (1500+ attendees / year). Mined first Bitcoin in
            a(href="#")  2011
            |  on CPU.

        p
            a(href="https://www.linkedin.com/in/evgeny-ponomarev-4ab3672a/") LinkedIn

    +person(
        '_tmp_person2.png',
        'Dmitry Kurinsky',
        'CTO'
    )
        p Software engineer and technical leader, building complex engineering projects since 2004. Keen functional programming advocate. Prior to Fluence he was a CTO / lead engineer at a bunch of technology startups.

        p
            a(href="https://www.linkedin.com/in/dmitrykurinskiy/") LinkedIn
            a(href="https://github.com/alari")  Github
    
    +person(
        'a_demidko.jpg',
        'Alexander Demidko',
        'Research'
    )
        p Experienced distributed systems engineer with deep understanding of computer science, game theory and recent interest in machine learning. At Metamarkets he built a petabyte scale analytics platform capable of processing hundreds of billions events / day. 

        p
            a(href="https://www.linkedin.com/in/alexanderdemidko/") LinkedIn
            a(href="https://github.com/xdralex")  Github


//h2 With powerfull help

.persons-list
    +person(
        'rico.jpg',
        'Constantine Solovev',
        'Database Development'
    )
        p Seasoned software engineer with experience in distributed systems and big data processing. At CleverDATA he developed a highly loaded data exchange platform for RTB advertising.

        p
            a(href="https://github.com/RicoGit") GitHub

    +person(
        'a_rtemiy.jpg',
        'Artemiy Liarskiy',
        'Dev Relations'
    )
        p Digital copywriter for several major brands and rewarded agencies. Background in sales & marketing for enterprise and mobile app development.

        p
            a(href="https://www.linkedin.com/in/orchimada/") LinkedIn
         
