- var link_gh = "#gh"

mixin icon(icon)
    .item-icon
        case icon
            when 'earth'
                include ../../img/squareblock.earth.inline.svg

            when 'chain'
                include ../../img/squareblock.chain.inline.svg

            when 'molecule'
                include ../../img/squareblock.molecule.inline.svg

            when 'cart'
                include ../../img/squareblock.cart.inline.svg

            when 'lists'
                include ../../img/squareblock.lists.inline.svg

mixin sqblock(icon, title, description)
    .item
        +icon(icon)
        p.item-title #{title}
        p #{description}

h2 Build on Fluence
p Our network is best for

.squares_small-blocks
    +sqblock(
        'earth',
        'Unstoppable content',
        'A Wikileaks alike web-site or end-to-end encrypted messenger.'
    )
    +sqblock(
        'chain',
        'Patient records',
        'Secure medical data storage and sharing.'
    )
    +sqblock(
        'molecule',
        'Decentralized insurance',
        'No more pain with digital personal data regulations.'
    )
    +sqblock(
        'cart',
        'Data marketplaces',
        'Store any personal or sensitive data and build a market around it.'
    )
    +sqblock(
        'lists',
        'Big data',
        'No dataset is too big, no amount of requests is too much.'
    )
    .item.item__last
        p.item-title Already with us
        include ../../img/squareblock.logos.inline.svg

.squares_small-bottom
    a.button(href=link_gh)
        span.icon
            include ../../img/social-gh.inline.svg

        | Checkout out Github
