mixin squareblock(num, title, descr, hiddentext)
    .square(class="square-" + num)
            .square-main
                p.square-main-title #{title}
                p #{descr}
            .square-hidden
                p #{hiddentext}

h2.__polyfill(data-supports="textStroke") Internet today
    span  and tomorrow

.squares-blocks
    +squareblock(
        '1',
        'Data centralization',
        'Most of the world\’s data sits in relatively few locations controlled by a selected group of providers.',
        'Data ownership and control over access rights belong to the user. Storage, management and processing services compete over an open market.'
    )
    +squareblock(
        '2',
        'Data leaks',
        'Centralized clouds are vulnerable, but significant leaks of sensitive data lead only to media buzz with no long term changes.',
        'Datasets are cryptographically protected and impossible to break. No database dump through a single access point.'
    )
    +squareblock(
        '3',
        'Censorship and regulations',
        'Governments and large corporations have full control over personal data and internet access.',
        'Data is encryped and spread across different servers under  no single authority. It is impossible to ban or use against its owner.'
    )
    +squareblock(
        '4',
        'Fragmentation and regulations',
        'Modern internet architecture is dependent on centralized clouds, DNS, CDN, etc.',
        'Web 3.0 is design to be  self sustainable and capable of working even with its significant part malfunctions or gets sabotaged.'
    )
