- var link_top_whitepaper = "https://tokensale.fluence.ai"
- var link_top_github     = "https://github.com/FluenceLabs"
- var link_top_about      = "/about.html"
- var link_top_blog     = "https://blog.fluence.ai"

.top-wrapper
    .top-logo
        a(href="/")
            include ../../img/logo.inline.svg

    .top-menu.__menu
        .top-menu-wrapper
            a.top-menu-caller__helper.__menuopen(href="#")
                include ../../img/hamburger.inline.svg

            ul
                li: a(href=link_top_whitepaper) tokensale
                li: a(href=link_top_github) github
                li: a(href=link_top_about) about
                li: a(href=link_top_blog) blog

    .top-menu-caller
        a.__menuopen(href="#")
            include ../../img/hamburger.inline.svg

.top-divider.divider
