meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

title= page_title

include favicon

include ../helpers/ga.html
include ../helpers/pixel.html
include ../helpers/gtm_head.html
