extends layout/layout

include layout/block

block local_vars
    - var page_title = "About | Fluence - decentralized database"

//- page content
block content
    +block('top')
        include blocks/top

    +block('persons')
        include blocks/persons

    +block('about_bottom')
        include blocks/about_bottom

    +block('footer')
        include blocks/footer